h1 {  font-family: "Comic Sans MS"; font-size: 30px; font-weight: bold; color: #FFFFFF}
h1 {  }
h1 {  }
p {  color: #3333FF}
.ToxicMan {  font-family: Century; font-size: 15px; color: #00FF00; font-weight: bolder}
.Links {  font-family: "Comic Sans MS"; font-size: 18px; font-weight: bold; color: #00FF00; text-decoration: underline; text-transform: uppercase}
.Alert {  font-family: Century; font-size: medium; color: #C01462}
.yahoo {  font-family: "Times New Roman", Times, serif; font-size: 10px; color: #FF0000; text-decoration: underline}
h1 {  }
.h1 {  font-family: "Comic Sans MS"; font-size: 33px; font-weight: bold; color: #FFFFFF}
.h2 {  font-family: "Comic Sans MS"; font-size: 20px; font-weight: bold; color: #FFFFFF}
.small_print {  font-family: "Comic Sans MS"; font-size: 12px; font-weight: bold}
.p {  color: #3333FF}
p {  }
links2 {  font-family: "Times New Roman", Times, serif; color: #CC00FF}
.Links2 {  font-family: "Times New Roman", Times, serif; color: #CC0066; font-weight: normal; font-size: 14px; text-decoration: underline}
.ToxicMan2 {  font-family: Century; font-size: 17px; font-weight: bold; color: #9933FF}
